<a href="https://colab.research.google.com/github/swicklund/hackathon/blob/main/TensorFlowSteve.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import os

import IPython
import IPython.display
import matplotlib as mpl
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas.io.json import json_normalize
import seaborn as sns
import tensorflow as tf
import json
import zipfile
from io import BytesIO
import torch
import math
from google.colab import files
from google.colab import auth
from datetime import datetime, timedelta

In [3]:
auth.authenticate_user()

In [4]:
!gcloud config set project {'hackathon-352519'}

Updated property [core/project].

In [5]:
!gsutil cp gs://trains_data/* /tmp/.

Copying gs://trains_data/train-data_all-train-events.zip...
| [1 files][ 57.1 MiB/ 57.1 MiB]
Operation completed over 1 objects/57.1 MiB.

In [7]:
# z = zipfile.ZipFile('train-data_all-train-events.zip', 'r')

x = {}
trains = {}
i = 1
prevLoco = ''
with zipfile.ZipFile("/tmp/train-data_all-train-events.zip", "r") as f:
    for name in f.namelist():
        if name.endswith('.json'):
            with f.open(name) as zd:
                data = json.load(zd)
                lastTrainReporting = data['lastTrainReporting']
                currentLoco = lastTrainReporting['ptcLeadLocomotiveId']
                if (prevLoco != currentLoco and "trainActualPositionList" in lastTrainReporting):
                    trainActualPositionList = lastTrainReporting['trainActualPositionList']
                    for position in trainActualPositionList:
                        positions = pd.json_normalize(position)
                        if ("precedingSignalState.milepostLocation.milepostNumber" in positions):
                            trains[i] = pd.json_normalize(lastTrainReporting)
#                             x[i] = pd.concat([train.ptcLeadLocomotiveId,trains[i]["trainId.trainSymbol"], trains[i]["trainId.trainDate"], positions], axis=1)
                            x[i] = positions
#                             trains[i] = train 
                            i = i + 1
                            prevLoco = currentLoco

In [8]:
df = pd.concat(x.values())
dfTrains = pd.concat(trains.values())

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2621 entries, 0 to 0
Data columns (total 13 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   positionTime                                          2621 non-null   object
 1   speedMPH                                              2621 non-null   int64
 2   milepostLocation.subdivisionId                        2621 non-null   int64
 3   milepostLocation.trackName                            2621 non-null   object
 4   milepostLocation.milepost.milepostNumber              2621 non-null   float64
 5   precedingSignalState.milepostLocation.milepostNumber  2621 non-null   float64
 6   precedingSignalState.previousSignalState              2236 non-null   float64
 7   precedingSignalState.currentStateTime                 2236 non-null   object
 8   precedingSignalState.signalState                      2621 non-null   int64
 9   nextSignalState.milepostLocation.milepostNumber       2468 non-null   float64
 10  nextSignalState.signalState                           2468 non-null   float64
 11  nextSignalState.previousSignalState                   1131 non-null   float64
 12  nextSignalState.currentStateTime                      1131 non-null   object
dtypes: float64(6), int64(3), object(4)
memory usage: 286.7+ KB

In [10]:
dfTrains.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2621 entries, 0 to 0
Data columns (total 44 columns):
 #   Column                                                                     Non-Null Count  Dtype
---  ------                                                                     --------------  -----
 0   ptcLeadLocomotiveId                                                        2621 non-null   object
 1   maximumTrainSpeed                                                          2562 non-null   float64
 2   loadedCarCount                                                             2562 non-null   float64
 3   emptyCarCount                                                              2562 non-null   float64
 4   trainLength                                                                2562 non-null   float64
 5   trailingTonnage                                                            2562 non-null   float64
 6   positionHistoryList                                                        2621 non-null   object
 7   locomotiveList                                                             2621 non-null   object
 8   subdivisionList                                                            2621 non-null   object
 9   trainEstimatedPositionList                                                 2621 non-null   object
 10  trainActualPositionList                                                    2621 non-null   object
 11  trainId.trainSCAC                                                          2621 non-null   object
 12  trainId.trainSection                                                       2621 non-null   object
 13  trainId.trainSymbol                                                        2621 non-null   object
 14  trainId.trainDate                                                          2621 non-null   object
 15  lastReportedPosition.positionTime                                          2621 non-null   object
 16  lastReportedPosition.speedMPH                                              2621 non-null   int64
 17  lastReportedPosition.milepostLocation.subdivisionId                        2621 non-null   int64
 18  lastReportedPosition.milepostLocation.trackName                            2621 non-null   object
 19  lastReportedPosition.milepostLocation.milepost.milepostNumber              2621 non-null   float64
 20  aotuTrainData.priorityCode                                                 2621 non-null   int64
 21  aotuTrainData.categoryCode                                                 2621 non-null   int64
 22  aotuTrainData.authorityRangeCode                                           2621 non-null   int64
 23  aotuTrainData.ownershipCode                                                2621 non-null   int64
 24  aotuTrainData.tenantCarrier                                                2621 non-null   object
 25  aotuTrainData.totalCarWeight                                               2621 non-null   float64
 26  aotuTrainData.totalCarLength                                               2621 non-null   float64
 27  aotuTrainData.totalLocomotiveWeight                                        2621 non-null   float64
 28  aotuTrainData.totalLocomotiveLength                                        2621 non-null   float64
 29  aotuTrainData.actualTonsPerAxle                                            2621 non-null   float64
 30  aotuTrainData.heavy143TonCarCount                                          2621 non-null   int64
 31  aotuTrainData.heavy158TonCarCount                                          2621 non-null   int64
 32  aotuTrainData.over158TonCarCount                                           2621 non-null   int64
 33  aotuTrainData.highWideCarCount                                             2621 non-null   int64
 34  aotuTrainData.eventCode                                                    2621 non-null   int64
 35  aotuTrainData.routeLocationList                                            2621 non-null   object
 36  lastReportedPosition.nextSignalState.milepostLocation.milepostNumber       1377 non-null   float64
 37  lastReportedPosition.nextSignalState.signalState                           1377 non-null   float64
 38  lastReportedPosition.nextSignalState.previousSignalState                   746 non-null    float64
 39  lastReportedPosition.nextSignalState.currentStateTime                      746 non-null    object
 40  lastReportedPosition.precedingSignalState.milepostLocation.milepostNumber  402 non-null    float64
 41  lastReportedPosition.precedingSignalState.previousSignalState              343 non-null    float64
 42  lastReportedPosition.precedingSignalState.currentStateTime                 343 non-null    object
 43  lastReportedPosition.precedingSignalState.signalState                      402 non-null    float64
dtypes: float64(17), int64(11), object(16)
memory usage: 921.4+ KB

In [20]:
pd.json_normalize(dfTrains.iloc[100]['trainActualPositionList'])

,positionTime,speedMPH,milepostLocation.subdivisionId,milepostLocation.trackName,milepostLocation.milepost.milepostNumber,nextSignalState.milepostLocation.milepostNumber,nextSignalState.signalState,precedingSignalState.milepostLocation.milepostNumber,precedingSignalState.previousSignalState,precedingSignalState.currentStateTime,precedingSignalState.signalState,nextSignalState.previousSignalState,nextSignalState.currentStateTime
0,2022-04-21T21:57:32Z,-35,106,MT 2,325.00015,324.43,-4,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-04-21T21:59:32Z,-35,106,MT 2,323.82498,323.01,-4,324.43,-4.0,2022-04-21T21:58:33Z,-2.0,NaN,NaN
2,2022-04-21T22:01:32Z,-33,106,MT 2,322.71332,321.50,-4,323.01,-4.0,2022-04-21T22:01:01Z,-2.0,NaN,NaN
3,2022-04-21T22:03:32Z,-32,106,MT 2,321.60822,321.50,-4,323.01,-4.0,2022-04-21T22:01:01Z,-2.0,NaN,NaN
4,2022-04-21T22:05:32Z,-32,106,MT 2,320.53006,320.23,-4,321.50,-4.0,2022-04-21T22:03:47Z,-2.0,NaN,NaN
5,2022-04-21T22:07:32Z,-34,106,MT 2,319.36526,318.72,-4,320.23,-4.0,2022-04-21T22:06:07Z,-2.0,NaN,NaN
6,2022-04-21T22:09:32Z,-38,106,MT 2,318.14896,316.87,-4,318.72,-4.0,2022-04-21T22:08:42Z,-1.0,NaN,NaN
7,2022-04-21T22:11:32Z,-38,106,MT 2,316.86530,315.29,-4,316.87,-4.0,2022-04-21T22:11:35Z,-2.0,NaN,NaN
8,2022-04-21T22:13:32Z,-39,106,MT 2,315.55220,315.29,-4,316.87,-4.0,2022-04-21T22:11:35Z,-2.0,NaN,NaN
9,2022-04-21T22:15:32Z,-40,106,MT 2,314.21460,313.91,-4,315.29,-4.0,2022-04-21T22:14:00Z,-2.0,NaN,NaN
10,2022-04-21T22:17:32Z,-40,106,MT 2,312.89963,312.36,-4,313.91,-4.0,2022-04-21T22:16:03Z,-2.0,NaN,NaN
11,2022-04-21T22:19:32Z,-40,106,MT 2,311.55557,310.95,-4,312.36,-4.0,2022-04-21T22:18:25Z,-2.0,NaN,NaN
12,2022-04-21T22:21:32Z,-40,106,MT 2,310.20514,309.54,-4,310.95,-4.0,2022-04-21T22:20:28Z,-2.0,NaN,NaN
13,2022-04-21T22:23:32Z,-40,106,MT 2,308.86140,308.26,-4,309.54,-4.0,2022-04-21T22:22:32Z,-2.0,NaN,NaN
14,2022-04-21T22:25:32Z,-40,106,MT 2,307.50330,306.75,-4,308.26,-4.0,2022-04-21T22:24:29Z,-1.0,NaN,NaN
15,2022-04-21T22:27:32Z,-41,106,MT 2,306.15164,301.15,-4,308.26,-4.0,2022-04-21T22:24:29Z,-1.0,-3.0,2022-04-21T22:25:01Z
16,2022-04-21T22:29:32Z,-39,106,MT 2,304.80936,301.15,-4,308.26,-4.0,2022-04-21T22:24:29Z,-1.0,-3.0,2022-04-21T22:25:01Z
17,2022-04-21T22:31:32Z,-38,106,MT 2,303.51154,301.15,-4,304.20,-4.0,2022-04-21T22:30:27Z,-2.0,-3.0,2022-04-21T22:25:01Z
18,2022-04-21T22:33:32Z,-39,106,MT 2,302.23633,301.15,-4,304.20,-4.0,2022-04-21T22:30:27Z,-2.0,-3.0,2022-04-21T22:25:01Z
19,2022-04-21T22:35:32Z,-40,106,MT 2,300.90848,299.82,-4,301.15,-4.0,2022-04-21T22:35:13Z,-2.0,-1.0,2022-04-21T22:20:57Z
20,2022-04-21T22:37:32Z,-39,106,MT 2,299.58945,298.11,-4,299.82,-4.0,2022-04-21T22:37:12Z,-1.0,-2.0,2022-04-21T22:30:43Z
21,2022-04-21T22:39:32Z,-36,106,MT 2,298.33438,298.11,-4,299.82,-4.0,2022-04-21T22:37:12Z,-1.0,-2.0,2022-04-21T22:30:43Z
22,2022-04-21T22:41:32Z,-36,106,MT 2,297.11325,296.65,-4,298.11,-4.0,2022-04-21T22:39:55Z,-2.0,NaN,NaN
23,2022-04-21T22:43:32Z,-36,106,MT 2,295.88513,295.26,-4,296.65,-4.0,2022-04-21T22:42:20Z,-2.0,-2.0,2022-04-21T22:30:32Z
24,2022-04-21T22:45:32Z,-38,106,MT 2,294.60233,292.19,-4,295.26,-4.0,2022-04-21T22:44:35Z,-2.0,NaN,NaN
25,2022-04-21T22:47:32Z,-41,106,MT 2,293.27220,292.19,-4,295.26,-4.0,2022-04-21T22:44:35Z,-2.0,NaN,NaN
26,2022-04-21T22:49:32Z,-41,106,MT 2,291.90265,289.44,-4,295.26,-4.0,2022-04-21T22:44:35Z,-2.0,NaN,NaN
27,2022-04-21T22:51:32Z,-39,106,MT 2,290.58545,289.44,-4,290.99,-4.0,2022-04-21T22:50:56Z,-1.0,NaN,NaN
28,2022-04-21T22:53:32Z,-37,106,MT 2,289.29404,287.91,-4,289.44,-4.0,2022-04-21T22:53:23Z,-2.0,NaN,NaN
29,2022-04-21T22:55:32Z,-39,106,MT 2,288.00070,287.91,-4,289.44,-4.0,2022-04-21T22:53:23Z,-2.0,NaN,NaN
30,2022-04-21T22:57:32Z,-40,106,MT 2,286.64902,285.44,-4,286.75,-4.0,2022-04-21T22:57:24Z,-2.0,NaN,NaN
31,2022-04-21T22:59:32Z,-40,106,MT 2,285.32162,283.90,-4,285.44,-4.0,2022-04-21T22:59:25Z,-2.0,NaN,NaN
32,2022-04-21T23:01:32Z,-39,106,MT 2,283.99408,283.90,-4,285.44,-4.0,2022-04-21T22:59:25Z,-2.0,NaN,NaN
33,2022-04-21T23:03:32Z,-37,106,MT 2,282.71347,282.36,-4,283.90,-4.0,2022-04-21T23:01:44Z,-2.0,NaN,NaN
34,2022-04-21T23:05:32Z,-37,106,MT 2,281.48642,280.76,-4,282.36,-4.0,2022-04-21T23:04:12Z,-2.0,NaN,NaN
35,2022-04-21T23:07:32Z,-36,106,MT 2,280.26508,279.09,-4,280.76,-4.0,2022-04-21T23:06:56Z,-2.0,NaN,NaN
36,2022-04-21T23:09:32Z,-37,106,MT 2,279.01420,277.43,-2,279.09,-4.0,2022-04-21T23:09:28Z,-1.0,NaN,NaN
37,2022-04-21T23:11:32Z,-36,106,MT 1,277.80060,277.43,-4,279.09,NaN,NaN,-1.0,NaN,NaN
38,2022-04-21T23:13:32Z,-35,106,MT 1,276.63510,275.87,-4,277.43,-4.0,2022-04-21T23:12:19Z,-2.0,NaN,NaN
39,2022-04-21T23:15:32Z,-34,106,MT 1,275.49240,274.56,-4,275.87,-4.0,2022-04-21T23:14:59Z,-2.0,NaN,NaN
40,2022-04-21T23:17:32Z,-33,106,MT 1,274.38022,273.24,-4,274.56,-4.0,2022-04-21T23:17:19Z,-2.0,NaN,NaN
41,2022-04-21T23:21:32Z,-31,106,MT 1,272.26398,271.73,-4,273.24,-4.0,2022-04-21T23:19:44Z,-2.0,NaN,NaN
42,2022-04-21T23:23:32Z,-30,106,MT 1,271.24225,270.23,-4,271.73,-4.0,2022-04-21T23:22:36Z,-2.0,NaN,NaN
43,2022-04-21T23:25:32Z,-29,106,MT 1,270.23508,270.23,-4,271.73,-4.0,2022-04-21T23:22:36Z,-2.0,NaN,NaN
44,2022-04-21T23:27:32Z,-29,106,MT 1,269.23640,268.42,-4,270.23,-4.0,2022-04-21T23:25:35Z,-2.0,NaN,NaN
45,2022-04-21T23:29:32Z,-26,106,MT 1,268.30080,267.27,-4,268.42,-4.0,2022-04-21T23:29:20Z,-2.0,NaN,NaN
46,2022-04-21T23:31:32Z,-23,106,MT 1,267.46510,267.27,-4,268.42,-4.0,2022-04-21T23:29:20Z,-2.0,NaN,NaN
47,2022-04-21T23:33:32Z,-23,106,MT 1,266.69565,265.56,-4,267.27,-4.0,2022-04-21T23:32:11Z,-2.0,NaN,NaN
48,2022-04-21T23:35:32Z,-25,106,MT 1,265.87735,265.56,-4,267.27,-4.0,2022-04-21T23:32:11Z,-2.0,NaN,NaN
49,2022-04-21T23:37:32Z,-35,106,MT 1,264.83325,263.56,-4,265.56,-4.0,2022-04-21T23:36:15Z,-1.0,NaN,NaN
50,2022-04-21T23:39:32Z,-43,106,MT 1,263.40836,261.72,-4,263.56,-4.0,2022-04-21T23:39:32Z,-2.0,NaN,NaN
51,2022-04-21T23:41:32Z,-46,106,MT 1,261.85620,261.72,-4,263.56,-4.0,2022-04-21T23:39:32Z,-2.0,NaN,NaN
52,2022-04-21T23:43:32Z,-45,106,MT 1,260.30360,260.20,-4,261.72,-4.0,2022-04-21T23:41:51Z,-9.0,NaN,NaN
53,2022-04-21T23:45:32Z,-40,106,MT 1,258.83850,258.42,-4,260.20,-4.0,2022-04-21T23:43:47Z,-2.0,NaN,NaN
54,2022-04-21T23:47:32Z,-36,106,MT 1,257.54940,256.95,-4,258.42,-4.0,2022-04-21T23:46:17Z,-2.0,-3.0,2022-04-21T23:35:07Z
55,2022-04-21T23:49:32Z,-36,106,MT 1,256.35812,255.73,-4,256.95,-4.0,2022-04-21T23:48:39Z,-2.0,NaN,NaN
56,2022-04-21T23:51:32Z,-41,106,MT 1,255.05879,253.74,-4,255.73,-4.0,2022-04-21T23:50:39Z,-1.0,NaN,NaN
57,2022-04-21T23:53:32Z,-45,106,MT 1,253.58781,252.46,-4,253.74,-4.0,2022-04-21T23:53:31Z,-2.0,NaN,NaN

In [19]:
 pd.json_normalize(dfTrains.iloc[100]['trainEstimatedPositionList'])

,positionTime,speedMPH,milepostLocation.subdivisionId,milepostLocation.trackName,milepostLocation.milepost.milepostNumber
0,2022-04-21T21:55:32Z,-35,106,MT 2,326.18050
1,2022-04-21T21:57:32Z,-39,106,MT 2,324.97513
2,2022-04-21T21:59:32Z,-43,106,MT 2,323.59308
3,2022-04-21T22:01:32Z,-47,106,MT 2,322.07977
4,2022-04-21T22:03:32Z,-50,106,MT 2,320.45004
...,...,...,...,...,...
56,2022-04-21T23:47:32Z,-70,106,MT 2,198.19019
57,2022-04-21T23:49:32Z,-70,106,MT 2,195.85689
58,2022-04-21T23:51:32Z,-70,106,MT 2,193.52359
59,2022-04-21T23:53:32Z,-70,106,MT 2,191.19029
60,2022-04-21T23:55:32Z,-70,106,MT 2,188.85700

In [ ]:
cols = list(dfTrains.columns)
df3 = dfTrains[[cols[0]] + cols[12:15]+ [cols[21]]]
df3.head()

,ptcLeadLocomotiveId,trainId.trainSection,trainId.trainSymbol,trainId.trainDate,aotuTrainData.categoryCode
0,UP2528,,MGBNP,2022-04-15,12
0,UP2528,,MGBNP,2022-04-15,12
0,UP2528,,MGBNP,2022-04-15,12
0,UP2528,,MGBNP,2022-04-15,12
0,UP2528,,MGBNP,2022-04-15,12

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2621 entries, 0 to 0
Data columns (total 13 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   positionTime                                          2621 non-null   object
 1   speedMPH                                              2621 non-null   int64
 2   milepostLocation.subdivisionId                        2621 non-null   int64
 3   milepostLocation.trackName                            2621 non-null   object
 4   milepostLocation.milepost.milepostNumber              2621 non-null   float64
 5   precedingSignalState.milepostLocation.milepostNumber  2621 non-null   float64
 6   precedingSignalState.previousSignalState              2236 non-null   float64
 7   precedingSignalState.currentStateTime                 2236 non-null   object
 8   precedingSignalState.signalState                      2621 non-null   int64
 9   nextSignalState.milepostLocation.milepostNumber       2468 non-null   float64
 10  nextSignalState.signalState                           2468 non-null   float64
 11  nextSignalState.previousSignalState                   1131 non-null   float64
 12  nextSignalState.currentStateTime                      1131 non-null   object
dtypes: float64(6), int64(3), object(4)
memory usage: 286.7+ KB

In [ ]:
# df = df.drop(columns=['milepost'])
df['milepost'] = df.apply(lambda row: math.trunc(row['milepostLocation.milepost.milepostNumber']), axis=1)
df['millis'] = df.apply(lambda row: ((datetime.strptime(row['positionTime'], "%Y-%m-%dT%H:%M:%SZ"))  - datetime(1970, 1, 1)) // timedelta(milliseconds=1), axis=1)
df.head(10)

,positionTime,speedMPH,milepostLocation.subdivisionId,milepostLocation.trackName,milepostLocation.milepost.milepostNumber,precedingSignalState.milepostLocation.milepostNumber,precedingSignalState.previousSignalState,precedingSignalState.currentStateTime,precedingSignalState.signalState,nextSignalState.milepostLocation.milepostNumber,nextSignalState.signalState,nextSignalState.previousSignalState,nextSignalState.currentStateTime,milepost,millis
0,2022-04-17T03:22:02Z,11,106,MT 1,202.74315,202.73,4.0,2022-04-17T03:21:52Z,1,NaN,NaN,NaN,NaN,202,1650165722000
0,2022-04-17T03:24:02Z,0,106,MT 1,202.89820,202.73,4.0,2022-04-17T03:21:52Z,1,NaN,NaN,NaN,NaN,202,1650165842000
0,2022-04-17T03:26:02Z,0,106,MT 1,202.89820,202.73,4.0,2022-04-17T03:21:52Z,1,NaN,NaN,NaN,NaN,202,1650165962000
0,2022-04-17T03:28:02Z,0,106,MT 1,202.89820,202.73,4.0,2022-04-17T03:21:52Z,1,NaN,NaN,NaN,NaN,202,1650166082000
0,2022-04-17T03:30:02Z,0,106,MT 1,202.89800,202.73,4.0,2022-04-17T03:21:52Z,1,NaN,NaN,NaN,NaN,202,1650166202000
0,2022-04-17T03:32:02Z,0,106,MT 1,202.89800,202.73,4.0,2022-04-17T03:21:52Z,1,NaN,NaN,NaN,NaN,202,1650166322000
0,2022-04-17T03:34:02Z,4,106,MT 1,203.04080,202.73,4.0,2022-04-17T03:21:52Z,1,204.19,4.0,NaN,NaN,203,1650166442000
0,2022-04-17T03:36:02Z,11,106,MT 1,203.35143,202.73,4.0,2022-04-17T03:21:52Z,1,204.19,4.0,NaN,NaN,203,1650166562000
0,2022-04-17T03:38:02Z,18,106,MT 1,203.90045,202.73,4.0,2022-04-17T03:21:52Z,1,204.19,4.0,NaN,NaN,203,1650166682000
0,2022-04-17T03:40:02Z,26,106,MT 1,204.44950,204.19,4.0,2022-04-17T03:39:35Z,2,205.94,4.0,NaN,NaN,204,1650166802000

In [ ]:
dfAll = pd.concat([df3, df],axis=1)

In [ ]:
dfAll.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2621 entries, 0 to 0
Data columns (total 20 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   ptcLeadLocomotiveId                                   2621 non-null   object
 1   trainId.trainSection                                  2621 non-null   object
 2   trainId.trainSymbol                                   2621 non-null   object
 3   trainId.trainDate                                     2621 non-null   object
 4   aotuTrainData.categoryCode                            2621 non-null   int64
 5   positionTime                                          2621 non-null   object
 6   speedMPH                                              2621 non-null   int64
 7   milepostLocation.subdivisionId                        2621 non-null   int64
 8   milepostLocation.trackName                            2621 non-null   object
 9   milepostLocation.milepost.milepostNumber              2621 non-null   float64
 10  precedingSignalState.milepostLocation.milepostNumber  2621 non-null   float64
 11  precedingSignalState.previousSignalState              2236 non-null   float64
 12  precedingSignalState.currentStateTime                 2236 non-null   object
 13  precedingSignalState.signalState                      2621 non-null   int64
 14  nextSignalState.milepostLocation.milepostNumber       2468 non-null   float64
 15  nextSignalState.signalState                           2468 non-null   float64
 16  nextSignalState.previousSignalState                   1131 non-null   float64
 17  nextSignalState.currentStateTime                      1131 non-null   object
 18  milepost                                              2621 non-null   int64
 19  millis                                                2621 non-null   int64
dtypes: float64(6), int64(6), object(8)
memory usage: 494.5+ KB

In [ ]:
dfAll.head()

,ptcLeadLocomotiveId,trainId.trainSection,trainId.trainSymbol,trainId.trainDate,aotuTrainData.categoryCode,positionTime,speedMPH,milepostLocation.subdivisionId,milepostLocation.trackName,milepostLocation.milepost.milepostNumber,precedingSignalState.milepostLocation.milepostNumber,precedingSignalState.previousSignalState,precedingSignalState.currentStateTime,precedingSignalState.signalState,nextSignalState.milepostLocation.milepostNumber,nextSignalState.signalState,nextSignalState.previousSignalState,nextSignalState.currentStateTime,milepost,millis
0,UP2528,,MGBNP,2022-04-15,12,2022-04-17T03:22:02Z,11,106,MT 1,202.74315,202.73,4.0,2022-04-17T03:21:52Z,1,NaN,NaN,NaN,NaN,202,1650165722000
0,UP2528,,MGBNP,2022-04-15,12,2022-04-17T03:24:02Z,0,106,MT 1,202.89820,202.73,4.0,2022-04-17T03:21:52Z,1,NaN,NaN,NaN,NaN,202,1650165842000
0,UP2528,,MGBNP,2022-04-15,12,2022-04-17T03:26:02Z,0,106,MT 1,202.89820,202.73,4.0,2022-04-17T03:21:52Z,1,NaN,NaN,NaN,NaN,202,1650165962000
0,UP2528,,MGBNP,2022-04-15,12,2022-04-17T03:28:02Z,0,106,MT 1,202.89820,202.73,4.0,2022-04-17T03:21:52Z,1,NaN,NaN,NaN,NaN,202,1650166082000
0,UP2528,,MGBNP,2022-04-15,12,2022-04-17T03:30:02Z,0,106,MT 1,202.89800,202.73,4.0,2022-04-17T03:21:52Z,1,NaN,NaN,NaN,NaN,202,1650166202000

In [ ]:
dfAll.tail()

,ptcLeadLocomotiveId,trainId.trainSection,trainId.trainSymbol,trainId.trainDate,aotuTrainData.categoryCode,positionTime,speedMPH,milepostLocation.subdivisionId,milepostLocation.trackName,milepostLocation.milepost.milepostNumber,precedingSignalState.milepostLocation.milepostNumber,precedingSignalState.previousSignalState,precedingSignalState.currentStateTime,precedingSignalState.signalState,nextSignalState.milepostLocation.milepostNumber,nextSignalState.signalState,nextSignalState.previousSignalState,nextSignalState.currentStateTime,milepost,millis
0,UP6459,,MPRNP,2022-04-09,12,2022-04-11T00:36:34Z,34,106,MT 1,247.75676,245.93,4.0,2022-04-11T00:33:47Z,2,247.98,4.0,9.0,2022-04-11T00:24:15Z,247,1649637394000
0,UP6459,,MPRNP,2022-04-09,12,2022-04-11T00:38:34Z,29,106,MT 1,248.75430,247.98,4.0,2022-04-11T00:36:59Z,1,249.62,4.0,NaN,NaN,248,1649637514000
0,UP6459,,MPRNP,2022-04-09,12,2022-04-11T00:40:34Z,27,106,MT 1,249.62857,249.62,4.0,2022-04-11T00:40:43Z,2,251.06,4.0,NaN,NaN,249,1649637634000
0,UP6459,,MPRNP,2022-04-09,12,2022-04-11T00:42:34Z,26,106,MT 1,250.50282,249.62,4.0,2022-04-11T00:40:43Z,2,251.06,4.0,NaN,NaN,250,1649637754000
0,UP6459,,MPRNP,2022-04-09,12,2022-04-11T00:44:34Z,25,106,MT 1,251.32497,251.06,4.0,2022-04-11T00:44:07Z,2,252.46,4.0,4.0,2022-04-11T00:32:59Z,251,1649637874000

In [ ]:

val = dfAll.iloc[0,5]
millis = ((datetime.strptime(val, "%Y-%m-%dT%H:%M:%SZ"))  - datetime(1970, 1, 1)) // timedelta(milliseconds=1)
millis

1650165722000

# dfAll has actual readings by loco/train, 60 per, on

In [ ]:
# Define Utility Functions to build additional data rows

# Create a dataframe row holding a record of position on the train.
def createPositionHistoryFrame(positionHistory) -> dict:
    # The time that the train was at the specific milepost
    # Record the position time as seconds from epoch to use in regression model
    positionTime = positionHistory.get('positionTime')
    # How fast the train is traveling
    speedMPH = positionHistory.get('speedMPH')
    # Milepost location information
    milepostLocation = positionHistory.get('milepostLocation')
    # The unique identifier of the subdivision
    subdivisionId = milepostLocation.get('subdivisionId')
    # The unique identifier fo the milepost
    milepostNumber = milepostLocation.get('milepost').get('milepostNumber')

    # Construct new dataframe record
    return {'PositionTime': positionTime, 'SpeedMPH': speedMPH, 
    'SubdivisionId': subdivisionId, 'MilepostNumber':milepostNumber}

# Create a dataframe row for the identifier information of the trani
def createTrainIdFrame(trainId) -> dict:
    trainSymbol = trainId.get('trainSymbol')
    return {'TrainSymbol': trainSymbol}

# Create data frame for train detail
def createTrainDetailFrame(trainDetail) -> dict:
    maximumTrainSpeed = trainDetail.get('maximumTrainSpeed')
    loadedCarCount = trainDetail.get('loadedCarCount')
    emptyCarCount = trainDetail.get('emptyCarCount')
    trainLength = trainDetail.get('trainLength')
    trailingTonnage = trainDetail.get('trailingTonnage')

    # Construct new dataframe record
    return {'MaximumTrainSpeed': maximumTrainSpeed, 'LoadedCarCount': loadedCarCount, 
    'EmptyCarCount': emptyCarCount, 'TrainLength':trainLength, 'TrailingTonnage':trailingTonnage}

In [ ]:
BASELINE #1

# Baseline #1 - measure the accuracy of the Physics model

### Part 1: L1 Norm and L2 Norm of Projected Speed versus Actual

In [6]:
time = torch.arange(0,60).float(); time

tensor([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
        14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25., 26., 27.,
        28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38., 39., 40., 41.,
        42., 43., 44., 45., 46., 47., 48., 49., 50., 51., 52., 53., 54., 55.,
        56., 57., 58., 59.])

In [ ]:
actuals =

In [ ]:
def show_preds(predictionsTensor, ax=None):
    if ax is None: ax=plt.subplots()[1]
    ax.scatter(time, speed)
    ax.scatter(time, to_np(predictionsTensor), color='red')
    ax.set_ylim(-300,100)